

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
    flex-direction: column;
}
section {
    background-color: beige;
    padding: 20px;
    border-radius: 6px;
  
}
.game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    overflow : hidden;
    border: 0;
    border-bottom: 1px solid aqua;
}

.perso{
    width: 20px;
    height: 50px;
    position: relative;
    top: 150px;
   
    
}
.animation {
    animation:  perso-jum 500ms infinite;
}


/*Animation person jumpe*/
@keyframes   perso-jum {
    0%{
        top: 180px;
    }
    25% {
        top: 80px;
    }
    50% {
        top: 80px;
    }
    100% {
        top: 50px;
    }
}



.perso img {
    width: 150%;
    height: 100%;
    object-fit: cover;
}

.obstacles {
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    top:130px;
    left: 480px;
    border-radius: 50%;
    animation: anime-obstacles 2.5s infinite ;
}

/*animation obstacles*/
@keyframes anime-obstacles {
    0%{
        left: 480px;
    }
    100% {
        left: -40px;
    }

}



.control {
    margin-top: 20px;
    text-align: center;
    
}

